/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero-unit h1 {
  font-family: 'Ubuntu Mono', monospace;
  margin-bottom: 0.3em;
}

.ruby {
  color: #cb0000;
}
